Repository codestates-seb/seb43_main_023, pull requests merged in 2023-05, with the labels that each got.

#44 [Design] 커뮤니티 UI (큰틀) 완성
  client/package-lock.json
  client/src/App.tsx
  client/src/Assets/전주.jpg
  client/src/Components/Community/Reviews.tsx
  client/src/Components/Community/SideBar.tsx
  client/src/Components/Community/Tags.tsx
  client/src/Components/Footer.tsx
  client/src/Global.css
  client/src/Pages/Community/EtcTalk.tsx
  client/src/Pages/Community/MBTI.tsx
  client/src/Pages/Community/Main.tsx
  client/src/Pages/Community/TripMate.tsx
  client/src/Pages/Community/TripReview.tsx
Labels: UI, COM, 조민수

#46 [Design] : 회원가입, 로그인, 마이페이지 UI 완성
  client/src/Assets/airplane.png
  client/src/Assets/logo.png
  client/src/Components/Footer.tsx
  client/src/Components/Header.tsx
  client/src/Global.css
  client/src/Pages/Join.tsx
  client/src/Pages/Login.tsx
  client/src/Pages/Mypage.tsx
Labels: MEM, 박희진, UI

#48 [Design] : MainPage UI(초안), 페이지 이동 기능 구현
  client/src/Components/Banner.tsx
  client/src/Components/Carousel.tsx
  client/src/Components/CarouselHotPlace.tsx
  client/src/Components/CarouselReview.tsx
  client/src/Components/Header.tsx
  client/src/Components/ScrollToTop.tsx
  client/src/Pages/HotPlace.tsx
  client/src/Pages/MainPage.tsx
  client/src/index.tsx
Labels: UI, pages, Main, 윤정훈

#53 [Feat] : 회원 update시 이슈해결, user의 mbti img 저장 구현
  client/data.json
  client/src/Pages/Join.tsx
  client/src/Pages/Login.tsx
  client/src/Pages/Mypage.tsx
  client/src/Pages/UserEdit.tsx
Labels: MEM, 박희진

#55 [Feat] : 회원 MBTI에 따른 메인화면 출력 기능 구현
  client/data.json
  client/src/App.tsx
  client/src/Components/Banner.tsx
  client/src/Components/Carousel.tsx
  client/src/Components/CarouselHotPlace.tsx
  client/src/Components/CarouselReview.tsx
  client/src/Components/Community/Tags.tsx
  client/src/Components/MainHeader.tsx
  client/src/Components/UserHeader.tsx
  client/src/Pages/MainPage.tsx
  client/src/Pages/RegionDetail.tsx
  client/src/Pages/RegionRecommend.tsx
Labels: UI, pages, Main, 윤정훈

#57 [Design & Feat] : 랜딩페이지, 에러페이지, 로딩페이지, react.lazy구현
  client/.eslintrc.json
  client/package-lock.json
  client/package.json
  client/public/assets/airplane1.png
  client/public/assets/cloud.png
  client/src/App.tsx
  client/src/Assets/error.png
  client/src/Assets/loading.png
  client/src/Components/Footer.tsx
  client/src/Components/Header.tsx
  client/src/Pages/Error.tsx
  client/src/Pages/Landing.tsx
  client/src/Pages/Loading.tsx
  client/src/Pages/member/Join.tsx
  client/src/Pages/member/Login.tsx
  client/src/Pages/member/Logout.tsx
  client/src/Pages/member/Mypage.tsx
  client/src/Pages/member/UserEdit.tsx
Labels: 박희진, UI

#59 [Feat] : 지역별 추천 여행 명소 - 서울 페이지 구현
  client/.env
  client/data.json
  client/src/Components/Banner.tsx
  client/src/Components/Carousel.tsx
  client/src/Components/MainHeader.tsx
  client/src/Components/UserHeader.tsx
  client/src/Pages/Loading.tsx
  client/src/Pages/MainPage.tsx
  client/src/Pages/RegionDetail.tsx
  client/src/Pages/RegionRecommend.tsx
Labels: UI, pages, Main, 윤정훈

#64 [Refactor] : redux-toolkit, redux-persist로 login, userInfo 전역상태로 구현
  client/data.json
  client/package-lock.json
  client/package.json
  client/src/Components/Header.tsx
  client/src/Components/UserHeader.tsx
  client/src/Pages/member/Join.tsx
  client/src/Pages/member/Login.tsx
  client/src/Pages/member/Logout.tsx
  client/src/Pages/member/Mypage.tsx
  client/src/Pages/member/UserEdit.tsx
  client/src/Reducers/loginReducer.tsx
  client/src/Reducers/userInfoReducer.tsx
  client/src/Store/store.tsx
  client/src/index.tsx
Labels: MEM, 박희진

#74 [Feat&Design] : axios 커스텀 함수사용, 유효성 검사 구현, alert창 sweetalert로 구현
  client/src/Components/Member/IntroBox.tsx
  client/src/Components/Member/MyReview.tsx
  client/src/Pages/member/Join.tsx
  client/src/Pages/member/Login.tsx
  client/src/Pages/member/Logout.tsx
  client/src/Pages/member/Mypage.tsx
  client/src/Pages/member/UserEdit.tsx
  client/src/Util/customAPI.tsx
  client/src/Util/customAxios.tsx
Labels: MEM, 박희진, UI

#75 [Feat] : 지역 별 추천 여행지 상세 페이지 & 메인 페이지 배너 tourAPI 연결
  client/.env
  client/src/App.tsx
  client/src/Components/Banner.tsx
  client/src/Components/Carousel.tsx
  client/src/Components/CarouselReview.tsx
  client/src/Components/UserHeader.tsx
  client/src/Pages/HotPlace.tsx
  client/src/Pages/HotReview.tsx
  client/src/Pages/RegionDetail.tsx
  client/src/Pages/RegionRecommend.tsx
Labels: pages, Main, 윤정훈

#83 [Feat] : 전체 지역 조회 페이지, 이미지 지연 로드 적용
  client/src/App.tsx
  client/src/Components/Header.tsx
  client/src/Components/MainHeader.tsx
  client/src/Components/UserHeader.tsx
  client/src/Pages/HotPlace.tsx
  client/src/Pages/HotReview.tsx
  client/src/Pages/RegionDetail.tsx
  client/src/Pages/RegionRecommend.tsx
  client/src/Pages/Search.tsx
Labels: UI, pages, 윤정훈

#84 [Fix] 로직 수정
  server/src/main/java/com/mainproject/seb43_main_023/DataLoader.java
  server/src/main/java/com/mainproject/seb43_main_023/config/WebSecurityConfigure.java
  server/src/main/java/com/mainproject/seb43_main_023/member/controller/MemberController.java
  server/src/main/java/com/mainproject/seb43_main_023/member/dto/MemberDto.java
  server/src/main/java/com/mainproject/seb43_main_023/member/entity/Member.java
  server/src/main/java/com/mainproject/seb43_main_023/member/service/MemberService.java
Labels: MEM, 최낙주

#85 [Feat] : google oauth 회원가입, 로그인, 로그아웃 구현
  client/.env
  client/data.json
  client/src/App.tsx
  client/src/Components/Member/IntroBox.tsx
  client/src/Components/Member/MyReview.tsx
  client/src/Components/Member/OauthHandler.tsx
  client/src/Pages/Member/Join.tsx
  client/src/Pages/Member/Login.tsx
  client/src/Pages/Member/Logout.tsx
  client/src/Pages/Member/UserEdit.tsx
Labels: MEM, 박희진

#86 [Feat & Design] 게시글 목록 ui 변경 & 페이지네이션
  client/data.json
  client/src/Components/Community/Answers.tsx
  client/src/Components/Community/Pagination.tsx
  client/src/Components/Community/Reviews.tsx
  client/src/Components/Community/SearchPlace.tsx
  client/src/Components/Community/Tags.tsx
  client/src/Pages/Community/EtcTalk.tsx
  client/src/Pages/Community/MBTI.tsx
  client/src/Pages/Community/Main.tsx
  client/src/Pages/Community/PostDetail.tsx
  client/src/Pages/Community/ReiviewDetail.tsx
  client/src/Pages/Community/TripMate.tsx
  client/src/Pages/Community/TripReview.tsx
Labels: UI, COM, 조민수

#88 [Design] : 반응형 웹 UI 디자인 적용
  client/data.json
  client/src/Components/Banner.tsx
  client/src/Components/Carousel.tsx
  client/src/Components/CarouselHotPlace.tsx
  client/src/Components/CarouselReview.tsx
  client/src/Components/MainHeader.tsx
  client/src/Components/UserHeader.tsx
  client/src/Global.css
  client/src/Pages/HotPlace.tsx
  client/src/Pages/HotReview.tsx
  client/src/Pages/MainPage.tsx
  client/src/Pages/RegionDetail.tsx
  client/src/Pages/RegionRecommend.tsx
Labels: UI, pages, Main, 윤정훈

#90 [Feat & Design] : 뱃지(초급여행자) 자동 업데이트 구현, oauth google 오류 수정
  client/src/App.tsx
  client/src/Components/Member/MyReview.tsx
  client/src/Components/Member/OauthHandler.tsx
  client/src/Pages/Community/PostUpload.tsx
  client/src/Pages/Member/Logout.tsx
  client/src/Pages/Member/Mypage.tsx
  client/src/Pages/Member/UserEdit.tsx
  client/src/Reducers/userInfoReducer.tsx
Labels: MEM, 박희진, UI

#92 [Feat] : 핫플레이스 ➡️ 지역 기반 추천 페이지 변경
  client/src/App.tsx
  client/src/Components/Banner.tsx
  client/src/Components/CarouselHotPlace.tsx
  client/src/Components/CarouselNearbyPlace.tsx
  client/src/Components/MainHeader.tsx
  client/src/Pages/HotPlace.tsx
  client/src/Pages/MainPage.tsx
  client/src/Pages/NearbyPlace.tsx
  client/src/Pages/RegionDetail.tsx
Labels: UI, pages, Main, 윤정훈

#98 [Feat & Design] : 검색 기능
  client/data.json
  client/src/Components/Community/Reviews.tsx
  client/src/Components/Community/SubjectDropdown.tsx
  client/src/Components/common/Header.tsx
  client/src/pages/Community/EtcTalk.tsx
  client/src/pages/Community/MBTI.tsx
  client/src/pages/Community/Main.tsx
  client/src/pages/Community/TripMate.tsx
  client/src/pages/Community/TripReview.tsx
  client/src/pages/Search.tsx
  client/src/reducers/searchKeywordReducer.tsx
  client/src/store/Store.ts
Labels: Main, COM, 조민수

#103 [Design&Feat] : Naver oauth 구현, member관련 페이지 반응형 웹 디자인 적용
  client/.env
  client/public/index.html
  client/src/App.tsx
  client/src/Components/Community/Answers.tsx
  client/src/Components/Community/Tags.tsx
  client/src/Components/common/Footer.tsx
  client/src/Components/common/Header.tsx
  client/src/Components/mainpage/UserHeader.tsx
  client/src/Components/member/IntroBox.tsx
  client/src/Components/member/MyReview.tsx
  client/src/apis/OauthHandler.ts
  client/src/apis/customAPI.ts
  client/src/apis/refresh.ts
  client/src/assets/googleIcon.png
  client/src/pages/Community/PostDetail.tsx
  client/src/pages/Community/PostUpdate.tsx
  client/src/pages/Community/PostUpload.tsx
  client/src/pages/Community/ReiviewDetail.tsx
  client/src/pages/Search.tsx
  client/src/pages/common/MainPage.tsx
  client/src/pages/member/Join.tsx
  client/src/pages/member/Login.tsx
  client/src/pages/member/Logout.tsx
  client/src/pages/member/Mypage.tsx
  client/src/pages/member/UserEdit.tsx
  client/src/reducers/loginReducer.ts
  client/src/reducers/userInfoReducer.ts
  client/src/store/Store.ts
  client/src/type/Ilogin.ts
  client/src/type/Ipost.ts
  client/src/type/Iuser.ts
  client/src/utils/LocalStorage.ts
Labels: MEM, 박희진, UI

#106 [feat] : 상세페이지 클릭 시 여행지 소개 텍스트 modal 구현
  .DS_Store
  client/data.json
  client/src/Components/mainpage/Banner.tsx
  client/src/Components/mainpage/Carousel.tsx
  client/src/Components/mainpage/CarouselNearbyPlace.tsx
  client/src/Components/mainpage/CarouselReview.tsx
  client/src/Components/mainpage/MainHeader.tsx
  client/src/Components/mainpage/Modal.tsx
  client/src/Components/mainpage/UserHeader.tsx
  client/src/pages/common/MainPage.tsx
  client/src/pages/contents/HotReview.tsx
  client/src/pages/contents/NearbyPlace.tsx
  client/src/pages/contents/RegionDetail.tsx
  client/src/pages/contents/RegionRecommend.tsx
  client/src/type/IImageProps.ts
  client/src/type/IMbti.ts
  client/src/type/ITripInfo.ts
Labels: UI, pages, Main, 윤정훈

#104 [Feat] 닉네임 중복 검사
  server/src/main/java/com/mainproject/seb43_main_023/exception/ExceptionCode.java
  server/src/main/java/com/mainproject/seb43_main_023/member/repository/MemberRepository.java
  server/src/main/java/com/mainproject/seb43_main_023/member/service/MemberService.java
Labels: MEM, 최낙주

#112 [Feat] Member 로직 수정
  server/src/main/java/com/mainproject/seb43_main_023/member/controller/MemberController.java
  server/src/main/java/com/mainproject/seb43_main_023/member/service/MemberService.java
Labels: MEM, 최낙주

#113 [feat] : 여행지 상세 페이지 페이지네이션 적용 & 상세 설명 문자열 치환 & CSS 수정
  client/src/Components/mainpage/CarouselNearbyPlace.tsx
  client/src/Components/mainpage/CarouselReview.tsx
  client/src/Components/mainpage/MainHeader.tsx
  client/src/Components/mainpage/Modal.tsx
  client/src/Components/mainpage/UserHeader.tsx
  client/src/pages/common/MainPage.tsx
  client/src/pages/contents/HotReview.tsx
  client/src/pages/contents/NearbyPlace.tsx
  client/src/pages/contents/RegionDetail.tsx
  client/src/pages/contents/RegionRecommend.tsx
Labels: pages, Main, 윤정훈

#116 [Feat] 구글, 네이버 OAuth2 구현
  server/src/main/java/com/mainproject/seb43_main_023/auth/jwt/JwtTokenProvider.java
  server/src/main/java/com/mainproject/seb43_main_023/auth/utils/RandomPassword.java
  server/src/main/java/com/mainproject/seb43_main_023/oauth/GetSocialOAuthRes.java
  server/src/main/java/com/mainproject/seb43_main_023/oauth/GoogleOauth.java
  server/src/main/java/com/mainproject/seb43_main_023/oauth/GoogleUser.java
  server/src/main/java/com/mainproject/seb43_main_023/oauth/NaverOauth.java
  server/src/main/java/com/mainproject/seb43_main_023/oauth/OauthController.java
  server/src/main/java/com/mainproject/seb43_main_023/oauth/RestTemplateConfig.java
Labels: MEM, 최낙주, security

#118 [Feat] : 관리자페이지 생성
  client/src/App.tsx
  client/src/Components/common/Footer.tsx
  client/src/Components/common/Header.tsx
  client/src/Components/member/ManagerBox.tsx
  client/src/apis/customAPI.ts
  client/src/apis/refresh.ts
  client/src/pages/member/Login.tsx
  client/src/pages/member/Manager.tsx
  client/src/pages/member/MemberPost.tsx
  client/src/type/Iuser.ts
Labels: 박희진, UI
